* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Goldman', cursive;
}

nav {
  border-bottom: 2px solid rgb(0, 0, 29);
  height: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

nav ul li {
  padding: 20px 0;
}

a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

a:hover {
  background-color: white;
  color: rgb(0, 0, 29);
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url('./img/background.jpg');
  background-size: cover;
}

.body-text {
  color: white;
  width: 500px;
  position: absolute;
  top: 30%;
  left: 100px;
}

.body-text h1 {
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 400;
  padding-bottom: 20px;
}

.body-text p {
  font-size: 18px;
  line-height: 1.8rem;
  padding-bottom: 10px;
}

button {
  margin-top: 50px;
  background-color: rgb(0, 0, 29);
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  font-size: 22px;
  padding: 15px 40px;
}

button:hover {
  background-color: white;
  color: rgb(0, 0, 29);
}

.planet-one img {
  width: 220px;
  position: absolute;
  bottom: 60px;
  right: 760px;
  z-index: 1;
}

.planet-two img {
  width: 420px;
  position: absolute;
  bottom: 80px;
  right: 80px;
  z-index: 1;
}

.planet-three img {
  width: 160px;
  position: absolute;
  top: 140px;
  right: 500px;
  z-index: 0;
}

.astronaut-container {
  height: 150px;
  position: absolute;
  bottom: 0;
  display: none;
}